Repository nix-community/mineflake, pull requests merged in 2022-12, with the labels that each got.

#29 Add labeler CI
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github_actions

#30 Docs: Fix typo in Nix syntax
  docs/docs/usage/nixos.md
Labels: documentation

#31 docs: fix nixos systemd example
  docs/docs/usage/systemd.md
Labels: documentation

#32 Release 0.2.2
  CHANGELOG.md
  cli/Cargo.lock
  cli/Cargo.toml
  flake.lock
Labels: cli, dependencies, rust

#34 update: CoreProtect package build from source
  CHANGELOG.md
  pkgs/plugins/coreprotect/config.yml
  pkgs/plugins/coreprotect/default.nix
  pkgs/plugins/default.nix
  pkgs/plugins/shortbin.nix
Labels: packaging, nix, packaging: plugins

#36 Package waterfall
  pkgs/servers/default.nix
  pkgs/servers/shortbin.nix
  pkgs/servers/waterfall/config.yml
  pkgs/servers/waterfall/default.nix
  pkgs/servers/waterfall/waterfall.yml
Labels: packaging, nix, packaging: servers

#39 Improve CoreProtect package
  pkgs/plugins/coreprotect/default.nix
Labels: packaging, nix, packaging: plugins

#40 init: CleanMOTD 0.2.8
  pkgs/plugins/cleanmotd/default.nix
  pkgs/plugins/default.nix
Labels: packaging, nix, packaging: plugins

#38 Add AdvancedBan plugin
  pkgs/plugins/advancedban/default.nix
  pkgs/plugins/default.nix
Labels: packaging, nix, packaging: plugins

#42 Build DiscordSRV from source
  pkgs/plugins/default.nix
  pkgs/plugins/discordsrv/default.nix
  pkgs/plugins/shortbin.nix
Labels: packaging, nix, packaging: plugins
